/* .logo-links{
    background-color: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.btns-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul,li{
    list-style-type: none;
}
li{
    display: inline-flex;
    margin: 2px 10px;
}
a{
    color: #fff !important;
    display: flex;
    ali
    text-decoration: none;
} */