.login-logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: auto;
}
.btns-login-out{
    margin-top: 2rem;

}
.lft,.rgt{
    margin: 0px 10px;
}
.pubg-img{
    background-image: url('../../assets/PUBG_Mobile.jpg');
    height:768px;
    width:auto;
    margin-top: -60px;
}